* { font-size: 1em; box-sizing: border-box; margin: 0; padding: 0; }
* { border: 0; }
:focus { outline: none; }

body { background: #fafafa; color: #333; }
body, input { font: 26px/42px 'Times New Roman'; }
header, input { font-family: courier; }
header, input { background: #fefefe; }

html, body { height: 100%; overflow: hidden; }

main, form, .lines { position: absolute; }
main { top: 0; left: 0; right: 0; }
main { bottom: 0; }
form { bottom: 0; }
.lines { overflow-y: scroll; }
.lines { top: calc(42px + 1px); }
.lines { bottom: calc(42px + 1px); }
.lines { left: 0; right: 0; }

input { border-top: 1px solid #ccc; }
header { border-bottom: 1px solid #ccc; }
form, input { width: 100%; }

.lines { padding-top: 1ex; }
.lines { padding-bottom: 6ex; }

p > span { margin-left: 1em; padding: 8px; } 
header, input { padding-left: calc(1em + 8px); }
